body
{
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	background:url("../Imagens/IMG_background.jpg");
	
	/*background: -webkit-gradient(radial,20% 20%,30,20% 50%,400, from(green), to(black)) repeat-x;*/
	background-size: cover;
	background-repeat: no-repeat;
}

#corpo
{
	background: url("../Imagens/IMG_background.jpg") black center;
	width: 78%;
	height: 100%;
	border: 3px solid #121212;
	margin: 0 auto;
}

#menu ul figure img
{
	float:right;
	padding:0 0 0 0 ;
	margin:-2.5% 10.5% 0 0;
	width:7%;
	position:relative;
}

#menu ul
{
	list-style:none;
	margin:0;
	padding:1% 0 1% 0;
	width:100%;
	background: -webkit-linear-gradient(left,black,#003300,black);
}

#menu ul li
{
	display: inline-block;
	position: relative;
	margin: 0 20px;
}

#menu ul li ul
{
	position: absolute;
	top:20px;
	left:0;
	background-color: #000;
	display:none;
	width: 200px;
	z-index: 1;
}

#menu ul li:hover ul
{
	display:block;
}

#menu ul li a{
	color:#00B22D;
	font-weight: bold;
	font-family: "A GALEGA","Arial","sans-serif";
	text-decoration: none;
}

#menu ul li a:hover
{
	color: #33ff00;
}

h1
{
	font-family:"Arial";
	text-transform:uppercase;
	color:#cccccc;
	font-size:20px;
	padding:0;
	margin:10% 0 0 15%;
}

.linha2
{
	border-bottom: 4px solid #00B22d;
	width: 93%;
	padding:0;
	margin: 2% 0 2% 3%;
}

footer
{
	background:#121212;
	width: 100%;
	position: absolute;
	left:0;
	padding:0;
	margin:0;
}

.logorp
{
	float:right;
	margin:2% 45% 0 0%;
	width: 12%;
	
	padding:0;
}

.social img
{
	
	width: 100%;
	height: 100%;
	max-width:25px;
	max-height:25px;
	margin:0;
	padding:0; 
}


footer ul li
{
	display: inline;
}

.social
{
	float:left;
	padding:10% 0 0 0;
	margin:0 0 1% 15%;
}

.social p
{
	font-family:"Arial";
	color: #9a9a9a;
}

.social a:hover
{
	background-color:#339933;
	border-top:13px solid #339933;
}

.mail
{
	float:right;
	padding:10% 0 0 0;
	margin:0 -40% 1% 0%;
}

.mail button 
{
	border-radius: 4.5px;
	font-weight: bold;	
}

.mail input
{
	border: 2px solid #999999;
	border-radius:5px;
}

.mail p
{
	font-family:"Arial";
	color:#9a9a9a;
}

.mail #q
{
	color:#666666;
	font-weight:bold;
}

.marca p
{
	float:left;
	font-size:12px;
	font-family:"Arial";
	color:#9a9a9a;
	margin:0% 15% 0% 15%;
	padding:0;
}

/*
#galeria
{
	padding: 0;
	width: 900px;
	height: 500px;
	margin:75px 50px 1px 65px;
	background-color: #FFF;
	border: 1px solid #ddd;
}

#galeria .large-img
{
	width: 880px;
	height: 380px;
	overflow: hidden;
	padding: 8px;
}

#galeria .large-img img 
{
	max-width:880px; 
}

#galeria .small-img 
{
	width: 900px;
	height: 100px;
	background-color: #444;
}

#galeria .small-img .holder
{
	width: 140px;
	height: 90px;
	overflow: hidden;
	float: left;
	margin:5px 0px 5px 5px;
}

#galeria .small-img img
{
	max-width: 200px;
	height: auto;
	opacity: .5;
}

#galeria .small-img img:hover
{
	opacity: 1;
}
*/

button
{
	width: 100px;
	height: 35px;
	padding: 3px;	
	margin:0 5% 0 0;
	font-weight: bold;
	font-family:"Arial","sans-serif";
	background: white;
	border-radius: 7px;
	color:#003300;
	letter-spacing: .2em;
}

button:focus
{
	border-bottom: 6px solid white;
	border-top: 6px solid white;	
	background: green;
	color: white;
}

#but
{
	margin: 5% 0 3% 37%; 
}

#galeria
{
	position: relative;
	margin: 7% 0 0 8%;
	padding: 0;
	width: 85%;
	/*border: 2px solid white;*/
}

#imagens
{
	margin: 0 2% 0 0;
	padding: 0;
}

#imagens .foto
{
	position: relative;
	display: inline;
}

#imagens .foto img
{
	position: relative;
	width: 200px;
	height: 150px;
	border: 2px solid #9a9a9a;
	border-radius: 7px;

	
	margin: 2% .5% 0 .5%;
}

#videos
{
	display:none;
}

#imagens .foto a img:hover
{
	width:200px;
	height:200px;
	background: transparent 0 -90px no-repeat;
	transform: scale(2);
	transition: transform .5s ease-out;
	z-index:1;
}

#videos
{
	margin: 0 2% 0 0;
}

#videos iframe
{
	border:2px #9a9a9a;
	border-radius: 12px;
	padding:0;
	margin: 1% 1% 0 0;
}



    

