footer
{
	background:#121212;
	width: 100%;
	position: absolute;
	left:0;
	padding:0;
	margin:0;
}

.logorp
{
	float:right;
	margin:2% 45% 0 0%;
	width: 12%;
	
	padding:0;
}

.social img
{
	
	width: 100%;
	height: 100%;
	max-width:25px;
	max-height:25px;
	margin:0;
	padding:0; 
}


footer ul li
{
	display: inline;
}

.social
{
	float:left;
	padding:10% 0 0 0;
	margin:0 0 1% 15%;
}

.social p
{
	font-family:"Arial";
	color: #9a9a9a;
}

.social a:hover
{
	background-color:#339933;
	border-top:13px solid #339933;
	/* border: 2px solid #00B22d; */
	/* border-right: 5px solid #00B22d; */
}

.mail
{
	float:right;
	padding:10% 0 0 0;
	margin:0 -40% 1% 0%;
}

.mail input
{
	border: 2px solid #999999;
	border-radius:5px;
}

.mail p
{
	font-family:"Arial";
	color:#9a9a9a;
}

.mail #q
{
	color:#666666;
	font-weight:bold;
}

.marca p
{
	float:left;
	font-size:12px;
	font-family:"Arial";
	color:#9a9a9a;
	margin:0% 15% 0% 15%;
	padding:0;
}

